html {
    margin: 0;
}

:root {
    --bg1: #2e2e2e;
    --trans: #00000000;
}

/* text*/
.fluid-text-h3 {
    font-size: 1.125rem;
    font-size: clamp(1.125rem, 0.8068181818181819rem + 1.5909090909090908vw, 2rem);
}

.fluid-text-h5 {
    font-size: 0.8125rem;
    font-size: clamp(0.8125rem, 0.6534090909090909rem + 0.7954545454545454vw, 1.25rem);
}

.fluid-text-small {
    font-size: 0.5625rem;
    font-size: clamp(0.5625rem, 0.42613636363636365rem + 0.6818181818181818vw, 0.9375rem);
}

.one-line-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 14.0625rem;
    width: clamp(14.0625rem, -1.875rem + 79.6875vw, 93.75rem);
}

.one-line-text-w-275 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 275px;
}

.one-line-text-w-50 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 35vw;
}

.one-line-text-w-100 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70vw;
}

.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

/* image */
.square-img-small {
    width: 2.5rem;
    width: clamp(2.5rem, 2.0454545454545454rem + 2.272727272727273vw, 3.75rem);
    height: 2.5rem;
    height: clamp(2.5rem, 2.0454545454545454rem + 2.272727272727273vw, 3.75rem);
}

.square-img {
    width: 4.0625rem;
    width: clamp(4.0625rem, 3.2670454545454546rem + 3.977272727272727vw, 6.25rem);
    height: 4.0625rem;
    height: clamp(4.0625rem, 3.2670454545454546rem + 3.977272727272727vw, 6.25rem);
}

.square-img-large {
    width: 5rem;
    width: clamp(5rem, 4.318181818181818rem + 3.4090909090909087vw, 6.875rem);
    height: 5rem;
    height: clamp(5rem, 4.318181818181818rem + 3.4090909090909087vw, 6.875rem);
}

.video-img {
    width: 7.5rem;
    width: clamp(7.5rem, 6.363636363636363rem + 5.681818181818182vw, 10.625rem);
    height: 4.0625rem;
    height: clamp(4.0625rem, 3.2670454545454546rem + 3.977272727272727vw, 6.25rem);
}

/* ctk */
.queue-list-ctk-css {
    margin-top: 5vh;
    width: 9.0625rem;
    width: clamp(9.0625rem, -0.625rem + 48.4375vw, 57.5rem);
    max-height: 30%;
    margin-left: 0%;
    background-color: black;
}

.alpha-dark-ctk {
    background-color: #000000b2;
}

.glow-color-animation {
    background: linear-gradient(45deg, #6d3e44, #444c67, #5a4835, #355049);
    background-size: 300% 300%;
    animation: colorAnimation 30s ease-in-out infinite alternate;
}

.glow-color-animation-text {
    background: -webkit-linear-gradient(160deg, #ff96a4, #a3b8ff, #aaffe8, #ffd9b0);
    background-size: 300% 300%;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorAnimation 6s ease-in-out infinite alternate;
}

@keyframes colorAnimation {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.dark-subtle-top-bottom-gradiant {
    background-image: linear-gradient(180deg, #1e1e1e, transparent);
}