.rhap_container {
    background-color: #00000000 !important;
    border: none;
    box-shadow: none !important;
    padding-top: 0% !important;
    padding-bottom: 0% !important;
}

.rhap_time {
    color: #fff !important
}

.rhap_progress-filled {
    background-color: rgb(255, 255, 255) !important; 
}

.rhap_download-progress {
    background-color: #a2a2a2 !important;
}

.rhap_progress-indicator,
.rhap_volume-indicator {
    background-color: #fff !important;
    /* box-shadow: 0 0 20px 0px #fff !important; */

}

.rhap_repeat-button,
.rhap_main-controls-button,
.rhap_volume-button {
    color: #fff !important;
}